<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.classroomassistant.mapper.UserAnswerMapper">
    <select id="getFinishHomework" resultType="com.classroomassistant.pojo.User">
        select user.* from user_answer
                inner join course_and_user on user_answer.user_id=course_and_user.user_id
            left join `user` on `user`.id=course_and_user.user_id
        where course_and_user.course_id=#{courseId}
    </select>
</mapper>